.about-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-flex {
    width: min(75rem, 100vw - 4rem);
    margin-inline: auto;
    display: flex;
    gap: 30px;
    align-items: center;

}

.about-container img {
    width: min(40rem, 100vw - 4rem);
    height: min(25rem, 100vw - 4rem);
}

.about-text {
    flex-direction: column;
}


@media screen and (max-width: 1080px) {
    .about-flex {
        flex-direction: column;
    }

    .about-container img {
        width: min(30rem, 100vw - 4rem);
        height: min(20rem, 100vw - 4rem);
    }
}

@media screen and (max-width: 600px) {
    .about-container img {
        width: min(25rem, 100vw - 4rem);
        height: min(15rem, 100vw - 4rem);
    }
}