.pizza-list {
    list-style: none;
    width: min(36rem, 100vw -4rem);
    margin-inline: auto;
    padding: 0rem;
}

.pizza {
    margin: 1rem;
}

.pizza>h3 {
    margin-bottom: 0;
    padding: 0;
}

.ingredients {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.ingredients li {
    margin: 0.25rem;
}

.ingredients p {
    margin-top: 0rem;
    margin-bottom: 0rem;

}