body {
    margin: 0;
    padding: 0;
}

.top-container {
    background-image: url(./public/a123-hero_1_200.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.top-container image {
    filter: brightness(40%);

}

.top-text {}

.menu-container {}

.contact-container {}