body {
    margin: 0;
    padding: 0;
}

.top-container {
    background-image: url(./public/a123-hero_1_200.jpg);
    background-color: black;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {}

.contact-container {}